@use 'raleway' as raleway;

$extension-map: ('ttf': 'truetype', 'otf': 'opentype');

@function _get-font-path($directory, $name, $ext) {
  @return $directory + '/' + $name + '.' + $ext;
}

@function _get-format($ext) {
  $alias: map-get($extension-map, $ext);

  @return $alias or $ext;
}

@function _get-variable-font-name($name) {
  @return $name + ' VF';
}

@mixin _include-fonts($name, $vfont, $fonts, $ext) {
  $directory: to-lower-case($name);
  $format: _get-format($ext);

  $url: _get-font-path($directory, $vfont, $ext);

  @font-face {
    font-display: swap;
    font-family: _get-variable-font-name($name);
    font-weight: 100 900;
    src: url($url) format($format);
  }

  @each $name, $weight in $fonts {
    $url: _get-font-path($directory, $name, $ext);

    @font-face {
      font-display: swap;
      font-family: $name;
      font-weight: $weight;
      src: url($url) format($format);
    }
  }
}

@mixin font-family($name, $family) {
  font-family: $name, $family;

  @supports(font-variation-settings: normal) {
    font-family: _get-variable-font-name($name), $family;
  }
}

@mixin fonts {
  @include _include-fonts(
    'Raleway',
    raleway.$vfont,
    raleway.$fonts,
    raleway.$ext
  );

  // ...other fonts go here.
}
