@use 'styles/variables/media';

.notificationList {
    --animation-duration: 0;

    position: fixed;
    display: flex;
    flex-flow: column;
    top: calc(var(--header-height) + var(--content-padding));
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
    z-index: 100;

    @include media.mobile {
        top: auto;
        bottom: calc(var(--header-items-height) + var(--content-padding));
        width: 100vw;
        padding: 0 var(--content-padding);
    }
}
