@use 'styles/variables/media';
@use 'styles/variables/theme';

.header {
    --header-color: var(--primary-block-color);

    display: flex;
    flex-flow: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: var(--header-navigation-height);
    width: 100vw;
    background-color: var(--header-color);
    color: var(--primary-text-color);
    box-shadow: var(--shadow);
    padding: env(safe-area-inset-top) 0 0;

    @include media.after-mobile {
        --header-color: rgba(255, 255, 255, .8);

        top: calc(var(--header-spacing) / 2 + var(--offline-notification-height));
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 var(--content-padding);
        border-radius: calc(var(--header-navigation-height) / 2);
        width: calc(100vw - var(--content-padding) * 2);
        max-width: var(--content-max-width);
        backdrop-filter: saturate(50%) blur(20px);
        left: 50%;
        transform: translateX(-50%);

        @include theme.dark-mode {
            --header-color: rgba(44, 44, 46, .8);
        }
    }

    nav {
        box-sizing: border-box;
        height: var(--header-navigation-height);
        width: 100%;
        max-width: var(--content-max-width);
        margin: 0 auto;
        padding: 0 var(--content-padding);

        @include media.after-mobile {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 50px;
        }
    }

    &Controls {
        display: flex;
        align-items: center;
        height: 100%;

        @include media.mobile {
            justify-content: center;
        }
    }
}

.offline {
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: var(--offline-notification-height);
    font-size: 15px;
    box-shadow: var(--shadow);
    background-color: #EDDE5D;
    color: black;

    @include media.mobile {
        top: var(--header-navigation-height);
    }

    &Icon {
        --icon-size: 20px;

        margin: 0 5px 0;
    }
}

@at-root html:global(.offline) {
    .offline {
        display: flex;
    }
}
