@mixin _base {
    display: inline-block;
    cursor: pointer;
    color: var(--primary-text-color);
    font-weight: var(--button-font-weight);
    font-size: var(--button-font-size);
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    border: 1px solid var(--button-background);
    width: auto;

    &:hover {
        border: 1px solid var(--button-hover);
    }
}

@mixin default {
    @include _base;
    background-color: var(--button-background);

    &:hover {
        background-color: var(--button-hover);
    }
}
