@use 'styles/variables/media';

.sidebar {
  background-color: var(--primary-block-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  box-sizing: border-box;
  color: var(--primary-text-color);
  height: max-content;
  padding: 1rem 2rem;
  position: sticky;
  top: calc(var(--header-height) + var(--content-padding));
  width: var(--sidebar-width);

  @include media.mobile {
    display: none;
  }

  &Profile {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin: 0 0 2rem;

    &Image {
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }

    &Name {
      font-size: 20px;
      font-weight: 500;
      margin: 1rem 0 0;
    }

    &Bio {
      color: var(--secondary-text-color);
      font-size: 16px;
      font-weight: 400;
      margin: 6px 0 0;
      text-align: center;
      white-space: pre-wrap;
      word-break: break-word;
    }
  }

  &Pages {
    h3 {
      font-size: 17px;
      font-weight: 600;
      margin: 0 0 1rem;
    }

    a {
      color: var(--secondary-text-color);
    }

    &List {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }

    &Active {
      opacity: 0.8;
      pointer-events: none;
    }
  }
}
