@use 'styles/variables/media';

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--primary-block-color);
    font-size: 16px;
    font-weight: 500;
    padding:
        var(--content-padding)
        var(--content-padding)
        calc(var(--header-items-height) + var(--content-padding));

    p {
        margin: 0 10px;
        display: inline-block;
    }

    a {
        font-size: 17px;
        font-weight: 600;
        color: var(--secondary-text-color);
    }
}
